<!-- Products Modal Structure -->
<md-dialog aria-label="products">
    <form ng-cloak>
        <md-dialog-content>
            <div class="md-dialog-content">
                <div class="product-list">
                    <div class="list">
                        <ul class="product-list-container">
                            <li ng-repeat="item in items" class="product-item">
                                <a href="#" ng-click="answer(item)">
                                    <div class="product-image">
                                        <img src="{{item.colors[0].images[0].url}}" alt="image" style="width: 200px; height: 200px; max-width: 200px; max-height: 200px;">
                                    </div>
                                    <div class="product-title">
                                        <span class="product-label">{{item.name}}</span>
                                    </div>
                                </a>
                            </li>
                        </ul>
                    </div>
                </div>
            </div>
        </md-dialog-content>

        <md-dialog-actions layout="row">
            <md-button ng-click="cancel()">
                Cancel
            </md-button>
            <md-button ng-click="answer(item)">
                Ok
            </md-button>
        </md-dialog-actions>
    </form>
</md-dialog>